@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import "variables";

::-webkit-scrollbar {
  background: var(--primaryColour);

}

::-webkit-scrollbar-track {
  background: var(--scrollBarTrack)

}

::-webkit-scrollbar-thumb {
  background: var(--scrollBarThumb);
  border-radius: 18px;

  &:hover {
    background-color: white;
  }
}

input[type=text] {
  border-radius: 10px;
}

body {
  background-color: var(--primaryColour);
  color: var(--primaryFontColour);
  font-family: 'ABeeZee', sans-serif;
}

/* styling of navigation bar and its elements */

#navigationBar {
  position: relative;
  background-color: var(--secondaryColour);
  height: var(--navigationBarHeight);
  text-transform: uppercase;
  transition: all .4s ease;

  .navigationBarLogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3%;
    pointer-events: none;
  }
}

#lightBulb {
  color: var(--primaryFontColour);
  position: absolute;
  left: 50%;
  transform: rotate(-180deg) translateX(-50%);
  font-size: 35px;
  transition: color .3s ease-in;

  &:hover {
    cursor: pointer;
    color: var(--anchorLinkHoveredColour);
  }
}

.navigationLinks {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  display: flex;
}

#navigationBar {
  p {
    margin-left: 5%;
  }

  a {
    color: var(--primaryFontColour);
    overflow: hidden;
  }

  h1 {
    font-size: var(--defaultFontSize);
  }

  a:hover {
    color: var(--anchorLinkHoveredColour);
    text-decoration: none;
    list-style-type: none;
  }
}

/* styling of profile page */

.profileHeading {
  background-color: var(--secondaryColour);
  color: rgba(255, 255, 255, 0.863);
  width: var(--defaultWidth);
  height: var(--defaultHeight);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--defaultBorderRadius);

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;

  &:hover {
    border-radius: 0 0 50% 50% / 0 0 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  h2 {
    font-weight: bold;
    font-size: var(--headingFontSize);
    color: var(--primaryFontColour);
    text-align: center;
  }

  p {
    color: var(--primaryFontColour);
    text-align: center;
  }

  img {
    margin-top: 8%;
    position: relative;
    height: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 8px;
    border: solid 3px var(--buttonBackgroundColour);
  }
}

/* hover over the login form border */

.profileSettingsButton {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* styling of button */

button, .button, #button {
  background-color: var(--buttonBackgroundColour);
  border: none;
  color: var(--buttonTextColour);
  width: var(--buttonWidth);
  min-height: var(--buttonHeight);
  border-radius: 10px;
  transition: background-color .3s ease-in, color .3s ease-in;

  &:hover {
    background-color: var(--defaultButtonHoverBackground);
  }
}


/* styling of login page */

.loginForm {
  position: absolute;
  background-color: var(--secondaryColour);
  padding: 34px;
  width: var(--defaultWidth);
  text-align: center;
  /*height: calc(var(--defaultHeight) - 26%);*/
  /* border-radius: var(--defaultBorderRadius); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;

  &:hover {
    border-radius: 0 0 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  label {
    margin-bottom: 0;
  }
  input:not([type=submit]) {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--borderColour);
    padding: 6px 12px;
  }
}

/* hover over the login form border */

.buttonContainer {
  position: relative;
}

.childContainer {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.loginForm h1 {
  text-align: center;
  user-select: none;
}

/* styling of register page */

.registerForm {
  position: absolute;
  background-color: var(--secondaryColour);
  padding: 34px;
  width: var(--defaultWidth);
  text-align: center;
  /* border-radius: var(--defaultBorderRadius); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;

  label {
    margin-bottom: 0;
  }

  &:hover {
    border-radius: 0 0 50% 50% / 0 0 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
  input:not([type=submit]) {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--borderColour);
    padding: 6px 12px;
    margin-bottom: 2%;
  }
}

/* hover over the login form border */

.buttonContainer {
  text-align: center;
}

.registerForm h1 {
  text-align: center;
  user-select: none;
}

#errorMessage {
  margin-top: 2%;
  text-align: center;
  color: var(--errorMessageColour);
}

#successMessage {
  margin-top: 2%;
  text-align: center;
  color: var(--successMessageColour);
}

a {
  cursor: pointer;
}

/* homepage css */


.mainContainer {
  border-radius: 0 100% 50% 50% / 0 0 100% 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: var(--marginFromHeader);
  background: #232526;

  /* fallback for old browsers */
  background: var(--mainContainerGradientChrome);

  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--mainContainerGradientFirefox);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 90%;
  height: 80vh;
}

/* posts tab */

.postsContainer, .usersContainer {
  margin-top: 1.5%;
  margin-right: 3%;
  width: 45%;
  background-color: var(--secondaryColour);
  float: right;

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;
  overflow: scroll !important;
  height: 77%;
  overflow-x: hidden !important;

  &:hover {
    border-radius: 0 0 5% 5% / 0 0 2% 2%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  button {
    margin-top: 10px;
  }

  .totalCommentsLabel {
    margin: 15px 0 0;
  }
}

.app {
  .usersContainer, .postsContainer {
    height: 600px;
  }
}

/* hover over the posts form border */

.grid-container {
  float: left;
  padding: 10px;
}

.postsGridItem, .usersGridItem {
  background-color: var(--postBackgroundColour);
  background-image: url("../images/defaultAvatar.png");
  background-size: cover;
  border-radius: 12px;
  /* passing: inside or the content of the grid container, so the text for example, how far away it is from the div */
  padding: 20px 50px 20px 50px;
  text-align: center;
  width: 320px;
  height: 300px;
  overflow-y: scroll;

  img {
    position: relative;
    height: 20%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    padding: 8px;
    border: solid 3px var(--buttonBackgroundColour);
    margin-bottom: 6px;
  }

  .postContent, .userContent {
    cursor: pointer;
    background: var(--mainContainerGradientFirefox);
    opacity: .8;
    border-radius: 12px;
    padding: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in 0.225s;

    &:hover {
      opacity: 1;
      transform: translateX(-50%) scale(1.1);
    }
  }

  .userContent {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .userContent {
    background: var(--secondaryColour);
  }

  .postContent p:last-of-type {
    background-color: var(--buttonBackgroundColour);
    color: var(--buttonTextColour);
  }
}

.usersGridItem {
  background-image: none;
}



.posts button, .users button {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.enlargedPost, .enlargedUser {
  .content {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: var(--secondaryColour);
    animation-name: fadeIn;
    animation-duration: .5s;
    outline: 3px solid var(--secondaryColour);
    overflow-y: scroll;

    button {
      margin-top: 10px;
    }

    p {
      font-size: 18px;
      color: var(--primaryFontColour);

      &:first-child {
        margin: 5px 0 20px 0;
        font-size: 20px;
      }

      span:not(first-child) {
        font-weight: bold;
      }
    }

    img {
      width: 500px;
      height: 500px;
      border-radius: 18px;
      //border: 1px solid var(--borderColour);
      margin-top: 10px;
    }


    textarea {
      width: 500px;
      padding: 15px 15px 0;
      background: var(--mainContainerGradientFirefox);
      color: var(--primarySubHeadingFontColour);
      transition: all ease-in .5s;
      border-radius: 8px;
      margin: 10px 0 0 0;
      vertical-align: top;
      border: 1px solid var(--borderColour);
    }

    .previousComments {
      button {
        margin-left: 8px;
      }

      .comment {
        border: 1px solid var(--borderColour);
        background: var(--mainContainerGradientFirefox);
        color: var(--primarySubHeadingFontColour);
        position: relative;
        width: 500px;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease-in .3s;
        border-radius: 8px;
        padding: 24px;

        p {
          text-align: left;
          font-size: 16px;
          margin: 0 90px 0 0;
          color: var(--primarySubHeadingFontColour);
        }

        .ratings {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 22px;
          margin-right: 10px;
          user-select: none;
          cursor: pointer;

          .upvote, .downvote {
            margin-left: 15px;
            margin-right: 2px;
            transition: all ease-in .3s;

            &:hover {
              cursor: pointer;
            }
          }

          .upvote {
            color: mediumseagreen;
          }

          .downvote {
            color: #e34a4a;
          }

          .upvote:hover, .downvote:hover {
            color: var(--whiteButtonHoverBackground);
          }
        }
      }
    }
    /* for the border */
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
    transition: all .4s ease;
    &:hover {
      box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
    }
  }

  .closeContentButton {
    margin-top: 6px;
    background: #f3f1f3;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    padding: 5px;

    font-size: 40px;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 25px;
    color: #707070;
    transition: all .3s ease-in;

    &:hover {
      cursor: pointer;
      background: #c6c5c5;
    }
  }
}

.enlargedUser {
  .userStats strong {
    margin-left: 20px;
  }

  .content {
    overflow-y: hidden;
  }
  .userPosts, .userFollowers, .userFollowing {
    background: #1e2020;
    width: 45%;
    height: 80%;
    position: relative;
    border-radius: 12px;
    background: var(--mainContainerGradientFirefox);
    float: left;
    padding: 0 40px 40px;
    margin-left: 3%;

    p:first-child {
      margin: 18px;
    }
    .desertedParagraph {
      padding: 10px;
    }

    .post, .follower, .following {
      background-color: var(--postBackgroundColour);
      background-image: url("../images/defaultAvatar.png");
      background-size: cover;
      border-radius: 12px;
      /* passing: inside or the content of the grid container, so the text for example, how far away it is from the div */
      text-align: center;
      height: 300px;
      left: 50%;

      .postContent, .followerContent, .followingContent {
        background: var(--mainContainerGradientFirefox);
        opacity: .9;
        border-radius: 12px;
        padding: 12px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease-in 0.225s;
        height: 100%;
        border: 1px solid var(--borderColour);
        margin-top: 20px;

        p {
          font-size: 16px;
        }

        p:last-of-type {
          background-color: var(--buttonBackgroundColour);
          color: var(--buttonTextColour);
          width: fit-content;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .userFollowers, .userFollowing {
    overflow-y: scroll;
    .follower {
      margin-top: 5%;
    }
  }

  .userFollowersFollowing {
    width: 45%;
    height: 80%;
    border-radius: 12px;
    background: var(--mainContainerGradientFirefox);
    float: right;
    margin-right: 3%;
    p:first-child {
      margin: 18px;
    }

    .usersGridItem {
      margin-left: 5%;
      float: left;

    }
  }
}

.followFollowersContainer {
  height: 100%;
  margin: 20px;
  border-radius: 12px;
}

.createPostButton {
  position: absolute;

  /*top: calc(100% - calc(var(--buttonHeight)/2));*/
  top: calc(100% - calc(var(--buttonHeight)));
  left: 50%;
  transform: translate(-50%, -50%);
}

/* whispers tab */

.usersContainer {
  margin-top: 1.5%;
  margin-left: 3%;
  width: 45%;
  background-color: var(--secondaryColour);
  float: left;

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;
  overflow: scroll;
  height: 77%;
  overflow-x: hidden !important;

  &:hover {
    border-radius: 0 0 50% 50% / 0 0 2% 2%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
}

/* hover over the whispers form border */

h1 {
  color: var(--primaryFontColour);
  user-select: none;
  font-size: 40px;
}

h2 {
  color: var(--primarySubHeadingFontColour);
  user-select: none;
  font-size: 40px;
}

p {
  color: var(--primaryFontColour);
}

.postsGridItem p {
  color: var(--primarySubHeadingFontColour);
}

br, img, button {
  user-select: none;
}

/* styling of settings page */
.profileSettingsHeading {
  background-color: white;
  color: rgba(255, 255, 255, 0.863);
  width: calc(var(--defaultWidth) + 800px);
  height: var(--defaultHeight);
  margin-top: 5%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;

  /* for the border */
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;

  &:hover {
    /* border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ; */
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  input[type=text] {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--borderColour);
    padding: 6px 12px;
  }
}

/* hover over the form border */

.settingsTitleHeading {
  position: relative;
  width: 100%;
  background-color: var(--secondaryColour);
  height: 10%;
  padding: 10px;

  h1 {
    text-align: center;
  }
}

.leftSection {
  position: absolute;
  background-color: var(--leftSideBackgroundColour);
  width: 25%;
  height: calc(100% - var(--settingsTitleHeadingHeight));
  top: calc(0% + var(--settingsTitleHeadingHeight));

  p {
    color: var(--primaryFontColour);
  }

  button {
    border-radius: 0;
  }
}

.rightSection {
  position: absolute;
  background: var(--mainContainerGradientFirefox);
  width: calc(100% - var(--leftSectionWidth));
  height: calc(100% - var(--settingsTitleHeadingHeight));
  top: calc(0% + var(--settingsTitleHeadingHeight));
  left: var(--leftSectionWidth);
  box-shadow: inset 25px 0 25px -25px rgba(0, 0, 0, 0.45);
}

.sectionClass {
  color: var(--primarySubHeadingFontColour);
}

.leftSection {
  img {
    margin-top: 8%;
    position: relative;
    height: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 8px;
    border: solid 3px var(--buttonBackgroundColour);
  }

  .userNameParagraph {
    margin-top: 5%;
    text-align: center;
    user-select: none;
    color: var(--primarySubHeadingFontColour);
  }
}

.settingsOptions {
  p {
    margin-top: 2%;
  }

  button {
    margin-top: 5px;
    width: 100%;
    text-align: left;
    background: var(--secondaryColour);

    &:hover {
      background: var(--primaryColour);
    }
  }
}

.buttonHighlighter {
  left: 0;
  transform: translateX(-50%);
  width: 5%;
  height: 100%;
  background-color: var(--secondaryColour);
  float: left;
}

.settingsOptions {
  button:focus {
    outline: 0;
  }

  .buttonHighlighter {
    visibility: hidden;
  }

  #aboutSection {
    visibility: visible;
  }
}

.rightSection {
  #sectionsContainer {
    margin-left: 5%;
    color: var(--primaryFontColour);
  }

  input {
    background-color: var(--primaryInputColourThemeOpp);
    width: 80%;
    user-select: none;
    pointer-events: none;
    color: var(--secondaryFontColour);
    border: solid 3px var(--primaryInputColourThemeOpp);
    border-radius: 2px;
  }
}

#rightProfileSection, #rightPreferencesSection, #rightNotificationsSection, #rightSecuritySection {
  display: none;
}

/* new version of chat */

.activeUsers {
  background-color: #356afa;
}

span .green {
  color: darkgreen;
}

.chatApp h1, p {
  text-align: center;
  margin: 0;
}

/* main chat container css */

.mainChatContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /*margin-top: var(--marginFromHeader);*/

  /*background: #232526;  !* fallback for old browsers *!*/
  /*background: var(--mainContainerGradientChrome);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: var(--mainContainerGradientFirefox); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  width: 100%;
  height: 80vh;
  user-select: none;
}

.messages p {
  padding: 10px 10px 10px 10px;
  border-bottom: solid 1px rgba(128, 128, 128, 0.25);
  color: var(--primarySubHeadingFontColour);
  text-align: left;
  position: fixed;
  background: var(--mainContainerGradientFirefox);
  width: 74%;
  opacity: 0.98;
}

.chatHeading, .chatApp .chatHeading {
  padding: 10px 10px 10px 10px;
  border-top: solid 1px rgba(128, 128, 128, 0.25);
  border-bottom: solid 1px rgba(128, 128, 128, 0.25);
  border-left: solid 1px rgba(128, 128, 128, 0.25);
  height: var(--subHeadingHeight);
  background-color: var(--primaryColour);
}

.chatHeading p, .chatApp .chatHeading {
  color: var(--primaryFontColour);
  text-align: left;
}

/* active users tab */
.activeUsersContainer {
  position: relative;
  width: 25%;
  background: var(--primaryColour);
  display: inline-block;
  float: right;
}

.chatApp .activeUsersHeading {
  width: 25%;
}

.activeUsersHeading, .chatApp .activeUsersHeading {
  height: var(--subHeadingHeight);
  padding: 10px 10px 10px 10px;
}

.activeUsersHeading a {
  color: #ADEFD1FF;
  text-decoration: none;
  transition: all .5s ease-in-out;

  &:hover {
    color: pink;
  }
}

.activeUsers p, .chatApp .activeUsersHeading p {
  background: var(--primaryColour);
  text-align: left;
  color: var(--primaryFontColour);
}

.green span {
  color: var(--primaryGreenFont);
}

.activeUsers {
  .users p {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    border-bottom: solid 1px rgba(128, 128, 128, 0.25);
    padding: 10px 10px 10px 10px;
  }

  /*height: calc(565px + 50px);*/
  height: calc(100vh - calc(var(--navigationBarHeight)) - var(--subHeadingHeight));
  background: var(--mainContainerGradientFirefox);
}

/* chat tab */
.chatContainer {
  position: relative;
  width: 75%;
  background: var(--secondaryColour);
  display: inline-block;
  float: right;
  input[type=text] {
    margin-left: 15px !important;
    padding: 0 15px 0 15px;
  }
}

.chatApp .chatHeading {
  position: relative;
  width: 75%;
  background: var(--primaryColour);
  display: inline-block;
  float: right;
}

.header {
  p, h1 {
    margin: 0;
    padding: 0 10px 0 10px;
    color: black;
  }
}

.chatClass {
  .header {
    background-color: #e8f0f6;
    padding: 1.1% 0 1.1% 0;
  }

  display: flex;
  flex-direction: column;

  /*height: calc(565px + 5px);*/
  height: calc(100vh - calc(var(--navigationBarHeight)) - var(--subHeadingHeight));
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--mainContainerGradientFirefox);
  -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px var(--secondaryFontColour);
  -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px var(--secondaryFontColour);
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px var(--secondaryFontColour);
}

.messages {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;

  /*max-height: calc(565px - 45px);*/
  max-height: calc(100vh - calc(var(--navigationBarHeight)) - calc(var(--subHeadingHeight) * 2) - 5px);


}

.greyMessageBubble {
  border: 2px solid silver;
  background-color: silver;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 30% 10px 10px;
  display: flex;
}

.blueMessageBubble {
  border: 2px solid var(--secondaryColour);
  background-color: var(--secondaryColour);
  color: var(--primarySubHeadingFontColour);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 10px 30%;
  display: flex;
}

.username {
  width: 100px;
  margin-right: 15px;
}

.messageText {
  flex: 1;
}

.chatClass .inputContainer {
  width: 100%;
}

.inputContainer {
  display: flex;

  input[type=text] {
    margin-left: 10px;
  }

  input {
    flex: 1;
    font-size: 18px;
    box-sizing: border-box;
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    padding: 5px 5px;
    margin: 5px;
    background: var(--mainContainerGradientFirefox);
    border: 1px solid var(--borderColour);
  }

  button {
    margin: 5px;
    background: var(--secondaryColour);
  }
}

.chatClass button {
  margin-left: 1%;
  margin-right: 2%;
  color: var(--primarySubHeadingFontColour);
}

.mainPostContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--defaultWidth));
}

.headingClass h1 {
  padding: 15px;
  text-align: center;
  user-select: none;
  margin: 0;
  background-color: var(--secondaryColour);
  width: 100%;
  transition: all .4s ease;
}

.customFileUpload:before {
  content: var(--uploadFileText);
}

.customFileUpload {
  background: var(--mainContainerGradientFirefox);
  width: 20%;
  border-radius: 10px;
  border: 1px solid var(--borderColour);
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  transition: all ease-in .3s;
}

input[type="file"] {
  display: none;
}

input[type="file"]:valid + .customFileUpload {
  background: mediumseagreen;
  --uploadFileText: "File Chosen";
}

.createPostForm {
  background-color: var(--secondaryColour);

  /* for the border */
  border-radius: 0 0 0 0 / 0 0 0 0;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all .4s ease;
  user-select: none;
  padding: 12px 6px;

  input:not([type=submit]), .customFileUpload {
    margin-bottom: 2%;
  }

  label {
  }
  input, label, select {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  label {
    margin-bottom: 0;
  }

  select {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    height: 40px;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }
  }

  option {
    background: #414345;
    color: white;
  }

  input {
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    height: 40px;
    &:focus {
    }
  }

  input[type=text], label, select {
    width: 95%;
    text-align: center;
  }
}

/* hover over the login form border */
.createPostForm {
  &:hover {
    border-radius: 0 0 50% 50% / 0 0 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  .button {
    width: 25%;
    margin-left: 0;
    transform: translateX(0);
    flex: 1;
    font-size: 18px;
    box-sizing: border-box;
    background: var(--mainContainerGradientFirefox);

    color: var(--primarySubHeadingFontColour);
    padding: 5px 5px;
  }

  button, input, select {
    outline: 0;
    border: 1px solid var(--borderColour);
  }
}

#exploreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 10px;

  .users {
    background-color: var(--secondaryColour);
  }
}

#exploreContainer > div {
  width: 50%;
  height: 100px;
  //border: 2px dashed red;
  text-align: center;
}

input {
  transition: all ease-in .25s;
}

input:not([type=submit]), select, textarea {

  &:valid {
    outline: none;
    border: 1px solid #2BAE66FF !important;
    background-color: #FCF6F5FF;
    color: #2BAE66FF !important;
  }

  &:focus {
    &:invalid {
      outline: none;
      border: 1px solid rgba(255, 69, 0, .55);
      color: orangered;
    }
  }
}

#repliesContainer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 16px;
  opacity: 1;
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  animation-name: fadeIn;
  animation-duration: .5s;

  .main {
    background: var(--mainContainerGradientFirefox);
    width: 50%;
    max-height: 600px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 16px;
  }
  button {
    color: #1e2020;
    background-color: var(--whiteButtonBackground);
    border: 1px solid var(--borderColour);
    margin-top: 16px;
    &:hover {
      background-color: var(--whiteButtonHoverBackground);
    }
  }
  .reply {
    background-color: white;
    padding: 32px 16px;
    max-width: 768px;
    border-radius: 16px;
    box-shadow: 0 6px 6px var(--replyBoxShadow);
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 8px;

    span {
      color: #1e2020;
    }
    .ratings {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      margin-right: 10px;
      user-select: none;
      cursor: pointer;

      .upvote, .downvote {
        margin-left: 15px;
        margin-right: 2px;
        transition: all ease-in .3s;

        &:hover {
          cursor: pointer;
        }
      }

      .upvote {
        color: mediumseagreen;
      }

      .downvote {
        color: #e34a4a;
      }

      .upvote:hover, .downvote:hover {
        color: var(--whiteButtonHoverBackground);
      }
    }
  }

  .replies {
    max-height: 350px;
    overflow-y: scroll;
  }

  textarea {
    width: 768px;
    padding: 15px 15px 0;
    background: var(--mainContainerGradientFirefox);
    color: var(--primarySubHeadingFontColour);
    transition: all ease-in .5s;
    border-radius: 8px;
    margin: 10px 0 0 0;
    vertical-align: top;
  }
}

.red-background {
  background: var(--redButtonBackground) !important;
  color: white !important;
  &:hover {
    background: var(--redButtonHoverBackground) !important;
  }
}

.blue-background {
  background: var(--blueButtonBackground) !important;
  color: white !important;
  &:hover {
    background: var(--blueButtonHoverBackground) !important;
  }
}

.white-background {
  color: #1e2020;
  background-color: var(--whiteButtonBackground) !important;
  border: 1px solid var(--borderColour);
  &:hover {
    background-color: var(--whiteButtonHoverBackground) !important;
  }
}