:root {
  /* primary */
  --primaryColour: #6a5acd;
  --borderColour: rgba(255, 255, 255, 0.2);
  --borderPrimaryColour: rgba(41.6, 35.3, 80.4, 0.95);
  --primaryFontColour: white;
  --fontColour: white;
  --primarySubHeadingFontColour: white;
  --primaryInputColourThemeOpp: white;
  --navigationBarLinkHover: rgb(207, 207, 207);
  --postBackgroundColour: #2a2d34;
  --postContentBackground: 42, 45, 52;
  --scrollBarThumb: rgb(88, 71, 205);
  --whiteButtonBackground: white;
  --blueButtonBackground: #06f;
  --blueButtonHoverBackground: #042ae9;
  --redButtonBackground: #f71735;
  --redButtonHoverBackground: #a40419;
  --whiteButtonHoverBackground: #d6cfcf;
  --primaryGreenFont: #bdeed0;
  --uploadFileText: "Upload File";
  --replyBoxShadow: rgba(109, 109, 109, 0.2);

  /* secondary */
  --secondaryColour: rgb(54, 47, 104);
  --borderSecondaryColour: rgba(54, 47, 104, 0.25);
  --secondaryFontColour: #343535;
  --successMessageColour: #2BAE66FF;
  --errorMessageColour: orangered;
  --buttonHoveredColour: rgb(46, 36, 112);
  --buttonBackgroundColour: slateblue;
  --anchorLinkHoveredColour: slateblue;
  --buttonTextColour: white;
  --defaultButtonHoverBackground: #533ce9;

  /* gradients */
  --mainContainerGradientChrome: -webkit-linear-gradient(to left, #414345, #232526);
  --mainContainerGradientFirefox: linear-gradient(to left, #414345, #232526);

  /* grid items */
  --gridItemBackground: rgb(14, 13, 13);

  /* section background colours */
  --rightSideBackgroundColour: #1e2020;
  --leftSideBackgroundColour: #1b1c1d;

  /* heading */
  --headingFontSize: 50px;
  --chatHeaderHeight: 150px;

  /* button */
  --buttonHeight: 40px;
  --buttonWidth: 160px;

  /* measurements */
  --defaultHeight: 700px;
  --defaultWidth: 30%;
  --defaultBorderRadius: 16px;
  --marginFromHeader: 2%;
  --settingsTitleHeadingHeight: 10%;
  --leftSectionWidth: 25%;
  --subHeadingHeight: 65px;
  --enlargedContentHeight: 20px;

  /* defaults */
  --defaultFontSize: 16px;
  --navigationBarHeight: 80px;
}

[data-theme="dark"] {
  /* primary */
  --primaryColour: #6a5acd;
  --borderColour: rgba(255, 255, 255, 0.2);
  --primaryFontColour: white;
  --fontColour: white;
  --primarySubHeadingFontColour: white;
  --primaryInputColourThemeOpp: white;
  --navigationBarLinkHover: rgb(207, 207, 207);
  --postBackgroundColour: #2a2d34;
  --postContentBackground: 42, 45, 52;
  --scrollBarThumb: rgb(88, 71, 205);
  --defaultButtonHoverBackground: #533ce9;
  --primaryGreenFont: #bdeed0;
  --replyBoxShadow: rgba(109, 109, 109, 0.2);

  /* secondary */
  --secondaryColour: rgb(54, 47, 104);
  --borderSecondaryColour: rgba(54, 47, 104, 0.25);
  --secondaryFontColour: #343535;
  --errorMessageColour: orangered;
  --buttonHoveredColour: rgb(46, 36, 112);
  --buttonBackgroundColour: slateblue;
  --anchorLinkHoveredColour: slateblue;
  --buttonTextColour: white;
  --scrollBarTrack: rgb(43, 34, 96);

  /* gradients */
  --mainContainerGradientChrome: -webkit-linear-gradient(to left, #414345, #232526);
  --mainContainerGradientFirefox: linear-gradient(to left, #414345, #232526);

  /* grid items */
  --gridItemBackground: rgb(14, 13, 13);

  /* section background colours */
  --rightSideBackgroundColour: #1e2020;
  --leftSideBackgroundColour: #1b1c1d;
}

[data-theme="light"] {
  /* primary */
  --primaryColour: #ffbe7b;
  --borderColour: rgba(0, 0, 0, 0.4);
  --primaryFontColour: black;
  --fontColour: #1e2020;
  --primarySubHeadingFontColour: black;
  --primaryInputColourThemeOpp: #1e2020;
  --navigationBarLinkHover: #EDF5E1;
  --postBackgroundColour: #dcdde1;
  --postContentBackground: 220, 221, 225;
  --scrollBarThumb: rgb(255, 172, 92);
  --defaultButtonHoverBackground: #ee933f;
  --primaryGreenFont: darkgreen;
  --replyBoxShadow: rgba(0, 0, 0, 0.2);

  /* secondary */
  --secondaryColour: #ffa351;
  --borderSecondaryColour: rgba(30, 81, 235, 0.25);
  --secondaryFontColour: #3c4040;
  --errorMessageColour: #ff0000;
  --buttonHoveredColour: black;
  --buttonBackgroundColour: #FFBE7B;
  --anchorLinkHoveredColour: #f8cba0;
  --buttonTextColour: black;
  --scrollBarTrack: rgb(231, 145, 63);

  /* gradients */
  --mainContainerGradientChrome: -webkit-linear-gradient(to left, #414345, #232526);
  --mainContainerGradientFirefox: linear-gradient(to left, #f9fcff 0%, #dee4ea 74%);


  /* grid items */
  --gridItemBackground: white;

  /* section background colours */
  --rightSideBackgroundColour: #ffffff;
  --leftSideBackgroundColour: #e6e6e6;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
